
.main-feature{
    padding: 20px;
    text-align: center;
}

.features-section{
    padding: 60px;
}

.feature{
    text-align: center;
    /* background-color: #5887ff; */
    padding: 30px;
}

.feature h3{
    font-size: 2em;
}